/*---- RESET ---- */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

/*---- /RESET---- */

/*---- GENERAL ---- */
    /*body {
        background-color: #F5F5F5;
    }*/

    .container {
        max-width: 1180px;
        margin: auto;
      /*  background-color: lightcoral; */
        /*border: 2px dashed black;*/
    }

    .box {
        height: 260px;
        width: 800px;
        margin: auto;
        border: 2px dashed black;
    }


    .box2 {
        height: 260px;
        width: 1000px;
        margin: auto;
        border: 2px dashed black;
    }

    .pb-8{
        padding-block:8px;
    }

    .pb-32{
        padding-block: 32px;
    }


    .col-25{
        width: 25%;
    }

    .col-50{
        width: 50%;
    }

    .col-60 {
        width: 60%;
    }
    
    .col-40 {
        width: 40%;
    }

    .azzurro {
        background-color: #1e90ff;
    }
    .rosa {
        background-color: #ffc0cb;
    }

    .white {
        background-color: white;
    }

    .grey {
        background-color: #d3d3d3;
    }
/*---- /GENERAL ---- */




/*--- HEADER UPPER---- */

    header {
        background-color: #add8e6;
    }

    .upper{
        padding-block: 8px;
    }

    
    .navbar > div {
        border: 2px dashed black;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: #daa520;
        padding: 10px 10px;
    }
    

    .link-group {
        text-align: center;
    }

    .login {
        text-align: end;
        padding-right: 4px;
    }

    .logo {
        padding-left: 4px;
    }
   
/* --- HEADER LOWER ---*/

    .lower {
        display: flex;
        background-color: #00008b;
    }

    .pink {
        background-color: #ee82ee;
    }


/* --- Main --- */

.hero {
    display: flex;
    padding: 20px 20px;
   
    
}

.half {
    height: 400px;
    border: 2px dashed black;
}

.halz {
    height: 400px;
    border: 2px dashed black;
    
}